.ipynb_checkpoints/DataFunctions-checkpoint.py
.ipynb_checkpoints/MyGTAPextra-checkpoint.ipynb
__pycache__/DataFunctions.cpython-313.pyc
MyGTAPoutput.xlsx
.ipynb_checkpoints/MyGTAPextra-checkpoint.py
all.csv
MyGTAPoutput_v11c_2017.xlsx
MyGTAPoutput_v12_2019.xlsx
MyGTAPoutput_v12_2023.xlsx
